body{
    margin:0;
    font-family: Arial, sans-serif;
}

nav{
    background-color: lightskyblue;
    float:right;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}

nav ul li a:hover{
    color:dodgerblue;
}

header{
    background-color: cornflowerblue;
    text-align: center;
    padding:20px;
}

header h1{
    color:white;
    font-family: muli;
}

header img{
    height:auto;
    width: 30%;
}

section{
    padding:20px;
}

section p, h2{
    display: flex;
    justify-content: center;
}



footer{
    background-color: dodgerblue;
    color:white;
    text-align: center;
    padding:10px;
}

.imagenes, .imagenes2{
    display: flex;
    justify-content: space-around ;
    margin-bottom: 20px;
}

.imagenes img, .imagenes2 img{
    max-width:30%;
    height: auto;
}




/* MODO MÓVIL*/
@media only screen and (max-width: 600px){
    .imagenes, .imagenes2{
        flex-direction: column; /*cambia a columna*/
        align-items: center;

    }
    .imagenes img, .imagenes2 img{
        margin-bottom: 10px; /*espacio entre las imágenes*/
    }
}

