/*PÁGINA PRINCIPAL*/
body{
    margin:0;
    font-family: Arial, sans-serif;
    background-image: url("images/mundo.jpeg");
}

nav{
    background-color: lightskyblue;
    float:right;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight:bold;
    font-family: Copperplate;
    font-size:20px;
}

nav ul li a:hover{
    color:dodgerblue;
}

header{
    background-color: cornflowerblue;
    text-align: center;
    padding:20px;
}

header h1{
    color:white;
    font-family: Copperplate;
    font-size:40px;
}

header img{
    height:auto;
    width: 30%;
}

section{
    padding:20px;

}

section p, h2{
    background-color: lightskyblue;
    font-family: "Baloo 2";

}

#contenido, #contenido1{
    display: flex;
    justify-content: center;
}

footer{
    background-color: dodgerblue;
    color:white;
    text-align: center;
    font-family: "Baloo 2";
    padding:10px;
    bottom: 0;
    width: 100%;
}
#enviar{
    position: fixed;
}

.imagenes, .imagenes2{
    display: flex;
    justify-content: space-around ;
    margin-bottom: 20px;
}

.imagenes img, .imagenes2 img{
    max-width:30%;
    height: auto;
}

.imagenes_contacto{
    display: flex;
    justify-content: space-around ;
    margin-bottom: 200px;
}

.imagenes_contacto img{
    width:10%;

}

/*CUESTIONARIOS*/

.formulario{
    background-color: lightskyblue;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin:0 auto;
}

label{
    margin-bottom: 10px;
    display: block;

}

select,input[type="text"], input[type="number"]{
    width:80%;
    padding:10px;
    margin-bottom: 10px;
    border: 2px solid cornflowerblue;
    border-radius: 6px;
    box-sizing: border-box;

}

input[type="submit"]{
    background-color: cadetblue;
    color: white;
    padding:14px 30px;
    margin:8px 0;
    border-radius: 6px;
    cursor:pointer;
    width:80%;
    font-size: 16px;

}

input[type="submit"]:hover{
    background-color: deepskyblue;

}




/* MODO MÓVIL*/
@media only screen and (max-width: 600px){
    .imagenes, .imagenes2{
        flex-direction: column; /*cambia a columna*/
        align-items: center;

    }
    .imagenes img, .imagenes2 img{
        margin-bottom: 10px; /*espacio entre las imágenes*/
    }
}

